{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: rgb(8, 8, 8); color: rgb(14, 5, 150); padding: 100px 25px; font-family: 'Indie Flower', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <h1>Interview Pitches</h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', bold;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}